.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    width: 400px;
    height: 300px;
    border: var(--primary-color) solid 2px;
    border-radius: 20px;
    background-color: dimgray;
    gap: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 20px;
    height: 150px;
    border: 2px solid var(--primary-color);
    background-color: darkcyan;
}


.buttonReset {
    cursor: pointer;
    color: red
}
